<div class="main-container">
  <div class="landing-page-container" style="display: flex;flex-direction: column;justify-content: space-between;">
    <div class="nav-bar">
      <div style="display: flex;align-items: center;justify-content: space-between;width: 100%;">
        <div class="logo d-flex">
          <div><%= cl_image_tag "icon_app_transp-01_wbb1xi.png", :width=>70, :crop=>"scale" %></div>
          <h1 class="d-flex align-items-center" style="font-size: 2em;"><a href="#" style="text-decoration: none; color:white;">Pay 'n Go</a></h1>
        </div>
        <div class="btn-nav-bar">
          <ul>
            <li><a href="#why-png">Why Pay 'n Go ?</a></li>
            <li><a href="#hiw">How it works</a></li>
            <li><a href="#info-app">Business</a></li>
            <li><a href="#about-us">About us</a></li>
            <li><a href="#">Back to top</a></li>
          </ul>
        </div>
      </div>
      <div class="contact-card">
        <div class="close-mail">
          <i id="close" class="fas fa-times-circle" style="cursor: pointer;"></i>
        </div>
        <div class="contact-mail">
          <i class="fas fa-paper-plane"></i>
          <p style="margin-left: 24px;">contact@pay-ngo.de</p>
        </div>
      </div>
    </div>
    <div class="title-hp">
      <div class="tittle">
        <div><h1 style="font-weight: bold; font-size: 3.2em; text-shadow: 2px 2px 4px rgba(0,0,0,0.3)">Let's move forward</h1></div>
        <div><h1 style="font-weight: bold; font-size: 3.2em; text-shadow: 2px 2px 4px rgba(0,0,0,0.3)">Let's pay cashless</h1></div>
      </div>
      <div class="subtitle">
        <h2 style="text-shadow: 1px 1px 4px rgba(0,0,0,0.3); font-size: 2em;">Pay 'n Go is comming soon</h2>
      </div>
    </div>
  </div>
  <div class="image-phones">
    <div class="image-phones-text">
      <h1>Pay cashless in Berlin</h1>
      <h4 style="margin-bottom: 50px;">whether in:</h4>
      <div class="phone-items">
        <div class="round-item">
          <i class="fas fa-shopping-basket"></i>
        </div>
        <p>Späti</p>
      </div>
      <div class="phone-items">
        <div class="round-item">
          <i class="fas fa-store"></i>
        </div>
        <p>Flea market</p>
      </div>
      <div class="phone-items">
        <div class="round-item">
          <i class="fas fa-pizza-slice"></i>
        </div>
        <p>Your favorite restaurant</p>
      </div>
    </div>
  </div>
  <div id="why-png" class="why-png-container" style="height: 100vh;margin-bottom: 40px">
    <div class="why-png-tittle">
      <h1 style="text-align: center; margin-bottom: 0;">Why Pay 'n Go?</h1>
    </div>
    <div class="underline"></div>
    <div class="why-png-content" style="padding: 70px">
      <div class="info-why-png" style="display: flex;flex-direction: column;align-items: center;">
        <%= cl_image_tag "Easy_s3vz74.png", alt: "alttext", :width=>140, :crop=>"scale" %>
        <p style="width: 223px;text-align: center;">Easy-to-use & to implement to your commerce</p>
      </div>
      <div class="info-why-png d-flex align-items-center flex-column">
        <%= cl_image_tag "Cheap_llbdvn.png", alt: "alttext", :width=>140, :crop=>"scale" %>
        <p style="width: 200px;text-align: center;">Affordable pricing for your needs</p>
      </div>
      <div class="info-why-png d-flex align-items-center flex-column">
        <%= cl_image_tag "Secure_sf2aut.png", alt: "alttext", :width=>140, :crop=>"scale" %>
        <p style="width: 200px;text-align: center;">Your data is secure with us</p>
      </div>
      <div class="info-why-png d-flex align-items-center flex-column">
        <%= cl_image_tag "Suport_mpww1y.png", alt: "alttext", :width=>140, :crop=>"scale" %>
        <p style="width: 200px;text-align: center;">We support you whenever you need us</p>
      </div>
    </div>
  </div>
  <%= render partial: 'how_it_works' %>
  <%= render partial: 'info_app' %>
  <%= render partial: 'about_us' %>
  <%= render partial: 'footer' %>
</div>
